/* work sans style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
      *
{font-family: "Work Sans", sans-serif;}
/* header styles */
header{
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
align-items: center;}
nav>ul{
    display: flex;}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;

}
nav a{
    text-decoration: none;
    color: rgb(66, 66, 66);
}
.nav-tittle{
    color: rgb(19, 19, 19);
    font-size: 45px;
font-weight: 700;

}
/* banner styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-tittle{
    color: rgb(19, 19, 19);
font-size: 64px;
font-weight: 700;
}
.banner-description{
    color: rgb(114, 114, 114);
font-size: 16px;
font-weight: 400;}
.btn-primary{
    color: rgb(255, 255, 255);
background-color:rgb(255, 144, 14);
font-size: 20px;
font-weight: 600;
border: 0;

}